header {
    display: flex;
    justify-content: center;
    font-family: 'Comforter Brush', cursive;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    header {
      font-size: 24px;
    }
  }
  
  section {
    display: flex;
    justify-content: center;
  }

  span {
    margin-bottom: 10px;
  }
  
  #clock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    margin: auto;
    padding: 20px;
  }
  @media only screen and (min-width: 768px) {
    #clock {
      flex-direction: row;
      padding: 40px;
    }
  }

  #clock form {
    margin-bottom: 20px;
    display: flex;
  }
  @media only screen and (min-width: 768px) {
    #clock form {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  
  #clock input {
    display: inline-block;
    padding-left: 10px;
    width: 70px;
    text-align: center;
    font-size: 42px;
    background: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    transition: background .8s ease;
  }
  @media only screen and (min-width: 768px) {
    #clock input {
      font-size: 84px;
      width: 120px;
    }
  }
  #clock input:focus:not([disabled]), 
  #clock input:hover:not([disabled]) {
    background: rgba(255, 255, 255, 0.2);
  }
  #clock form span {
    font-size: 42px;
  }
  @media only screen and (min-width: 768px) {
    #clock form span {
      font-size: 84px;
    }
  }

  #controls {
    display: flex;
  }
  @media only screen and (min-width: 768px) {
    #controls {
      flex-direction: column;
      margin-left: 20px;
      font-size: 20px;
    }
  }
  
  #controls button {
    -webkit-appearance: button;
    font-size: inherit;
    color: rgb(0, 0, 0);
    background: transparent;
    border: solid 2px rgb(0, 0, 0);
    font-family: 'Pangolin', cursive;
    padding: 10px;
    width: 100px;
    transition: background .4s ease, color .4s ease;
    border-radius: 2px;
    margin: 0 5px;
  }
  @media only screen and (min-width: 768px) {
    #controls button {
      margin: 10px 0;
    }
  }

  @media all and (max-width:340px) {
    #controls button {
      width: 70px;
      padding: 5px;
    }
}

  #controls button:hover,
  #controls button:focus {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.801);
    color: black;
  }
  
  #myVideo {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
  }